body {
    text-align: center;
}

.doForgetList {
    text-align: left;
    margin: 20px auto 0;
    padding: 0;
    display: inline-block;
    width: 400px;
}

@media (min-width: 800px) {
    .doForgetList {width: 800px;}
}

.doForgetTodo {
    vertical-align: top;
    display: inline-block;
    cursor: pointer;
    margin: 20px 0 0;
    width: 400px;
    padding: 0;
    list-style: none;
    position: relative;
}

.doForgetTodo li {
    display: inline-block;
}

ul[class*="urgency"] .timer  {
    padding: 13px 0 0;
    width: 100px;
    vertical-align: middle;
    height: 87px;
    border-radius: 50px;
    text-align: center;
    font-weight: 600;
    color: #fff;
}
ul[class*="urgency"]:nth-child(even) {text-align: right;}
ul[class*="urgency"]:nth-child(even) .timer {
    float:right;
}

.urgency-low .timer {background: #43ec7a;border:1px solid #14c64e;}
.urgency-low:hover .timer {background: #16d554;}

.urgency-med .timer {background: #ffc266;border:1px solid #ffad33;}
.urgency-med:hover .timer {background: #ffb444;}

.urgency-high .timer {
    background: #fc816c;
    border:1px solid #fb563a;

    animation: urgency-high .5s;
    animation-iteration-count: infinite;

    -webkit-animation: urgency-high .5s;
    -webkit-animation-iteration-count: infinite;
}

@keyframes urgency-high
{0%{background: #fc816c;}50%{background: #fa472a;}100%{background: #fc816c;}}

@-webkit-keyframes urgency-high
{0%{background: #fc816c;}50%{background: #fa472a;}100%{background: #fc816c;}}

.message {
    display: inline-block;
    vertical-align: top;
    min-width: -webkit-calc(100% - 125px);
    min-width: calc(100% - 125px);
    color: #555;
    margin: 0 0 0 10px;
}

.doForgetTodo:nth-child(even) .message {
    margin: 0 10px 0 0;
}

.message h4 {
    border-bottom: 1px solid #aaa;
    margin: 5px 0;
    font-size: 14px;
}

.message p {
    margin: 0;
}

.doForgetTodo:hover .message {color: #333;}

ul[class*="done"] {opacity: .4;}
ul[class*="done"]:hover .message {color: #555;}
ul[class*="done"] .timer:before {
    content: "X";
    font-size: 110px;
    position: absolute;
    top: -28px;
    left: 22px;
    font-weight: 300;
}

ul[class*="done"]:nth-child(even) .timer:before {
    top: -28px;
    right: -270px;
}

.urgency-low-done .timer {background: #43ec7a;border:1px solid #14c64e;}
.urgency-low-done .timer:before {color: #14c64e;}
.urgency-med-done .timer {background: #ffc266;border:1px solid #ffad33;}
.urgency-med-done .timer:before {color: #ffad33;}
.urgency-high-done .timer {background: #fc816c;border:1px solid #fb563a;}
.urgency-high-done .timer:before {color: #fb563a;}
