html {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 13px;
    background: #fafafa;
    color: #222;
    height: 100%;
}

body {
    height: 100%;
}

h1 {
    text-align: center;
    font-weight: 300;
    margin: 0;
    padding: 10px 0 10px 10px;
    font-size: 32px;
    border-bottom: 1px solid #aaa;
}

h3 {
    margin: 0;
    padding: 15px 0;
    text-align: center;
    font-weight: 300;
    font-size: 24px;
    color: #555;
}

.copyright {
    text-align: center;
    margin: 20px 0 0;
    color: #888;
}

.centerAlign {
    text-align: center;
}

input[type="text"],
input[type="password"],
textarea {
    padding: 10px;
    font-size: 12px;
    display: block;
    width: -webkit-calc(100% - 24px);
    width: -moz-calc(100% - 24px);
    width: calc(100% - 24px);
    color: #777;
    background: #f7f7f7;
    border: 1px solid #ccc;
    margin: 0 0 10px;
}

input[type="submit"],
input[type="button"] {
    background: #8acc51;
    color: #fff;
    font-weight: 600;
    width: 100%;
    border: 0;
    margin: 0 0 0 -1px;
    padding: 10px 0;
    font-size: 14px;
}

input[type="button"].cancel {
    background: #fb7075;
    margin: 10px 0 0 -1px;
}

input[type="submit"]:hover,
input[type="button"]:hover {
    background: #81c844;
}

input[type="button"].cancel:hover {
    background: #fa6065;
}
